body {
  font-family: $main-font;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid $color3;
  margin: 15px;
}

ul {
  list-style-type: none;
}

.headContainer {
  border-top: 4px solid $color1;
  border-bottom: 1px solid $color3;
}

.footContainer {
  border-top: 1px solid $color3;
}

h1 {
  color: $color1;
}
