//styles for on/off switch found on proto.io
.onoffswitch {
    position: relative; width: 76px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-right: 10px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 28px; padding: 0; line-height: 28px;
    border: 2px solid #CCCCCC; border-radius: 28px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 28px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #CCCCCC; border-radius: 28px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: $color2;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: $color2;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

//styles for radio buttons found http://codepen.io/quagliero/pen/AtLbr

.options {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  padding: $spacing-unit * 3;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  input {
    display: none;
  }
  // .options > label
  > label {
    display: inline-block;
    position: relative;
    margin-right: $spacing-unit;
    padding-left: $spacing-unit + $half-spacing-unit;
    cursor: pointer;

    // .options > label:before
    // this creates the outer circle for faux radio button
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 50%;
      margin-top: -8px;
      border: 1px solid #fff;
      border-radius: 8px;
    }

    // .options > label:after
    // this creates the inner circle for active faux radio button
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 8px;
      margin-top: 0;
      background: #fff;
      border-radius: 4px;
      transition: .2s ease-in-out;
    }
  }

  // .options :checked + label:after
  :checked + label {
    &:after {
      height: 8px;
      width: 8px;
      margin-top: -4px;
      left: 4px;
    }
  }
}
